body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.todo-title {
  text-align: center;
}

.todo-search {
  display: flex;
  justify-content: left;
  height: 35px;
  width: 100%;
  padding: 1em;
}
.todo-list {
  padding-inline-start: 0;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #dddde6;
  padding: 0.5em;
  box-shadow: 0.5px 0.5px 5px #919134;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.flex:hover {
  background: none;
}

span {
  padding: 1em;
}

.icon-success {
  color: #109456;
}

.icon-remove {
  color: red;
}

.todo-button-create {
  width: 100%;
  background: #109456;
  color: white;
  padding: 1em;
  cursor: pointer;
}

.todo-button-create:hover {
  background: #229c63;
}
